#Task2_Demo:
torch==2.6.0
transformers==4.44.0
torchvision==0.21.0
PIL==10.4.0
nltk==3.8.1
os==posix

#Task2_Image:
os==posix
torch==2.6.0
torchvision==0.21.0
numpy==1.26.4
sklearn==1.5.1
matplotlib==3.8.4
seaborn==0.13.2
tempfile==built-in
shutil==built-in

#Task2_NER:
torch==2.4.0
transformers==4.44.0
sklearn==1.5.1
numpy==1.26.4
tqdm==4.66.4
pandas==2.2.2

#EDA_images:
os==posix
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
PIL==10.4.0
cv2==4.11.0
tqdm==4.66.4
plotly==5.22.0

#EDA_text:
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
nltk==3.8.1